@import url('bootstrap/dist/css/bootstrap.min.css');

ul {
    margin-left: -2em;
    a {
        font-size: 1.3em !important;
        list-style: none;
    }
}

.link {
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.link:hover {
    color: black;
    text-decoration: underline;
}

.active {
    color: #188754;
    font-size: 17px;
    text-decoration: none;
}

.table {
    margin-top: 2.5em;
}

h1 {
    margin-top: 1em !important;
}

.brand {
    cursor: pointer;
}

.form {
    margin-top: 2em;
}

.citasContainer {
    margin-top: 2em;
}

.loading {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.auth {
    align-items: center;
    background-color: #188754;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.authContainer {
    background-color: white;
    box-shadow: 0px 3px #363636;
    border-radius: 2px;
    padding: 20px;
    width: 350px;
}

.accountLink {
    color: #363636;
    text-decoration: none;
    &:hover {
        color: #363636;
        text-decoration: underline;
    }
}

.navbar {
    .menuIcon {
        cursor: pointer;
        margin-right: 1em;
        width: 2.5em;
    }
}

.logoutButton {
    margin-top: 40em;
}

.subHeader {
    display: flex;
    justify-content: space-between;
    .searchContainer {
        margin-left: -50em;
        button {
            margin-right: 0.3em;
        }
    }
}

.filterContainer {
    margin-top: 2em;
}

.paymentContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}